/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.git
.phpunit.cache
docker-compose.yml
test.php
README.md
# ... tus líneas actuales ...
.git
.github
.vscode
.dockerignore
Dockerfile
node_modules
vendor
.env
.env.*
tests/
phpunit.xml
